.parsley-errors-list{
	list-style: none;
	padding: 0;
	margin: 0;
}

.hovering{
	position: fixed;
	bottom: 85px;
	right: 30px;
}

.hovering > .btn{
	border-radius: 30px;
	font-size: 18px;
}

.modal-content .nav-tabs-custom{
	margin-bottom: 0;
	box-shadow: none;
}

.nav-tabs-custom > .nav-tabs > li.b-blue.active{
	border-top-color: #3c8dbc;
}
.nav-tabs-custom > .nav-tabs > li.b-red.active{
	border-top-color: #dd4b39;
}
.nav-tabs-custom > .nav-tabs > li.b-gray.active{
	border-top-color: #ddd;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
	display: hidden;
}

.inputfile + label {
	max-width: 80%;
	font-size: 1.25rem;
	/* 20px */
	font-weight: 700;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
	padding: 0.625rem 1.25rem;
	/* 10px 20px */
}

.no-js .inputfile + label {
	display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
	/* pointer-events: none; */
	/* in case of FastClick lib use */
}

.inputfile + label svg {
	width: 1em;
	height: 1em;
	vertical-align: middle;
	fill: currentColor;
	margin-top: -0.25em;
	/* 4px */
	margin-right: 0.25em;
	/* 4px */
}

.inputfile + label {
	color: #fff;
	background-color: #333;
}

.inputfile:focus + label,
.inputfile.has-focus + label,
.inputfile + label:hover {
	background-color: #4d4749;
}
